:root {
    --primary-color: #c72727;
    --light-color: #f3f3f3;
    --dark-color:#333;
    --secondary-color:#f99500;
    --overlay-color:rgba(24, 39, 52, 0.85);
    --light-seacolor: #00dfc4;
    --light-naturecolor: rgb(0, 252, 113);
    --light-yellowcolor: rgb(255, 251, 0);
   
    --max-width: 1100px ;
    --menu-speed: 0.75s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background:var(--light-color);
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
/* Utility class */

h1,h2,h3,h4,h5,h6 { 
    margin-bottom: 0.55rem;
    line-height: 1.3;
}

.footer {
    display: flex;
    background: var(--dark-color);
    color: var(--light-color);
    justify-content:space-around;
    height: 100px;
    align-items: center;
}

/* Navigation */
#main-nav {
    background: #1d2b3a;
    position: sticky;
    top: 0;
    z-index: 3;
}

#main-nav .container {
    display: grid;
    grid-template-columns:6fr 2fr;
    padding: 0.5rem;
    align-items: center;
}


.logo a {
    font-size: 2rem;
    color: rgb(0, 252, 113);
    justify-self: flex-start;
    
}

#main-nav ul {
    justify-self: end;
    display: flex;
}
#main-nav .container ul li a:hover {
    cursor: pointer;
    color: #00dfc4;
}


#main-nav ul li a {
    padding: 0.75rem;
}




/* Showcase */

#showcase {
    color: #fff;
    background: #050505;
    padding: 2rem;
    position: relative;
    z-index: 0;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}
.category-sea { background: var(--light-seacolor); }
.category-nature { background: var(--light-naturecolor); }
.category-yellow { background: var(--light-yellowcolor); }

.btn {
    display: inline-block;
    border: none;
    color:#fff ;
    padding: 1rem 0;
}
.btn-light {background: var(--light-color);}
.btn-primary {background: var(--primary-color);}
.btn-secondary {background: var(--secondary-color);}

#showcase:before {
    content: '';
    background: url('../img/howsgol.jpg') no-repeat  center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    opacity: 0.4;

}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 50vh;

}

#showcase .showcase-content { z-index: 1;}

/*Undsen tses */

#home-articles .article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    
}
#home-articles .home-container {
    margin-bottom: 1rem;
}

@media (max-width:1000px) {
    #home-articles .article-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}

a
.card {
    background-color: #fff;
    padding: 1rem;
}

.home-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;

}

#home-articles .home-container .article-container img {
    height: 250px;
    width: 500px;
}
.city {
    display: inline-block;
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    border-radius: 16px;
    margin-bottom: 0.5rem;
}

 #home-articles h2 {
    text-align: start;
    color: rgb(0, 0, 0);
    margin-left: 9rem;
    margin-top:1rem;
}

/* Bulgan details */
.container .details {
    background: #fff;
    height: 100vh;
    margin: auto;
    margin-top: 3rem;
}

.details {
    background-color: #fff;
    padding: 1rem;
}

.container .city-grid {
   
        max-width: var(--max-width);
        margin: auto;
        padding: 0 1rem;
} 
.city-grid p {
    text-align: justify;
}

 .container  {
    height: 100%;
} 

/* details */
.details-article-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        max-width: var(--max-width);
        margin: auto;
        padding: 0 1rem;
        overflow: hidden;
        margin-bottom: 1rem;
        margin-top: 1rem;
        
        

}

.details-article-container img { 
    height: 250px;
    width: 500px;
}
/* 
contact */
#d-showcase {
    color: #fff;
    background: #050505;
    padding: 2rem;
    position: relative;
    z-index: 0;
    
}
#d-showcase:before {
    content: '';
    background: url('../img/5bogd.jpg') no-repeat  center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    opacity: 0.8; 

}

#d-showcase .d-showcase-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 70vh; 
   

}
#d-showcase .d-showcase-content {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     z-index: 1;
    }


    /* Viz */
    #v-showcase .v-article-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .Uls {
    background-color: #fff;
    padding: 1rem;
    }

    .v-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;

    }

    #v-showcase .v-container .v-article-container img {
    height: 250px;
    width: 500px;
    }


/* juulchin */
#ju-home-articles .ju-article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    
}
#ju-home-articles .ju-home-container {
    margin-bottom: 1rem;
}
.ju-card {
    background-color: #fff;
    padding: 1rem;
}

.ju-home-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;

}

#ju-home-articles .ju-home-container .ju-article-container img {
    height: 250px;
    width: 500px;
}
#ju-home-articles h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 9rem;
    margin-top:1rem;
    
}

.ju-card p {
    text-align: justify;
}

/* gadaadaylal */
#gad-home-articles .gad-article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    
}
#gad-home-articles .gad-home-container {
    margin-bottom: 1rem;
}
.gad-card {
    background-color: #fff;
    padding: 1rem;
}

.gad-home-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;

}

#gad-home-articles .gad-home-container .gad-article-container img {
    height: 250px;
    width: 500px;
}
#gad-home-articles h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 9rem;
    margin-top:1rem;
    
}

.gad-card p {
    text-align: justify;
}

/* dotood aylal */

#dot-home-articles .dot-article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    
}
#dot-home-articles .dot-home-container {
    margin-bottom: 1rem;
}
.dot-card {
    background-color: #fff;
    padding: 1rem;
}

.dot-home-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;

}

#dot-home-articles .dot-home-container .dot-article-container img {
    height: 250px;
    width: 500px;
}
#dot-home-articles h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 9rem;
    margin-top:1rem;
    
}

.dot-card p {
    text-align: justify;
}